<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Pagina.css') }}">
    <title>CurtaURL</title>
</head>
<body>
    <div id = "caixa" class="container" style="padding-top: 2%;">
        <form method="post">
             <div class="form-group">
                <h3>Esta página não existe :(</h3>
             </div>
        </form>
    </div>

</body>
</html>